@import "../../../colors";

.products{

  width: 530px;
  height: 600px;
  overflow: hidden;
  display:inline-block;

  .toolbar{
    margin-top: 18px;
    margin-left: 40px;
    font-size: 14px;

    button{
      margin-right: 10px;
    }

    .search-text{
      height: 20px;
      border: 1px solid;
      padding-left: 7px;
      padding-top: 0;
      border-radius: 5px;
      margin-right: 5px;
    }
  }

  ul{
    list-style: none;
    height: 450px;
    overflow: auto;

    li{
      width: 476px;
      margin-bottom: 10px;
      height: 70px;
      border: 1px solid;
      padding-top: 10px;
      cursor: pointer;

      &.active{
        background-color: $active;
      }

      button{
        float: right;
        height: 28px;
        background-color: orange;
        color: black;
        border: 1px solid;
        border-radius: 2px;
        font-size: 13px;
        cursor: pointer;
        position: relative;
        bottom: 14px;
        right: 10px;

        &:focus{
          outline: 0;
        }
      }

      i{
        float: left;
        margin: 7px 12px;
      }

      .title{
        font-size: 20px;
      }

      .desc{
        font-size: 15px;
      }
    }
  }
}
