.product-detail{

  width:400px;
  height: 408px;
  border: 1px solid;
  display:inline-block;
  position:absolute;
  margin-top: 59px;
  padding: 20px;

  .row{
    margin-bottom: 15px;

    .curreny{
      font-size: 14px;
      padding-left: 3px;
    }
  }

  textarea{
    width:98%;
    height: 100px;
    font-size: 12px;
  }

  input{
    height: 22px;
    border: 1px solid;
    padding-left: 5px;
    font-size: 12px;

    &.small{
      width:50px;
    }

    &.large{
      width: 98%;
    }
  }

  .save{
      position: absolute;
      bottom: 20px;
      right: 20px;

      button{
        height: 28px;
        width: 50px;
      }
  }
}
