@import "../colors";

:host ::ng-deep .app{
  margin: 0 auto;
  position:relative;

  h3{
    padding: 10px 10px;
    margin: 0;
    background-color: $active;
    border-bottom: 1px solid;
    padding-left: 40px;
  }
}



